import { combineReducers } from 'redux';
import { <%= example_page_path_in_caps %>_NAME_UPDATE } from '../constants/<%= example_page_lower_camelcase %>Constants';

const name = (state = '', action) => {
  switch (action.type) {
    case <%= example_page_path_in_caps %>_NAME_UPDATE:
      return action.text;
    default:
      return state;
  }
};

const <%= example_page_lower_camelcase %>Reducer = combineReducers({ name });

export default <%= example_page_lower_camelcase %>Reducer;
