node_modules
coverage
spec/react_on_rails/dummy-for-generators
spec/dummy
spec/dummy_no_webpacker
node_package/lib/
node_package/tests/node_modules
node_package/webpack.config.js
**/node_modules/**
**/assets/webpack/**
**/public/webpack/**
**/generated/**
**/app/assets/javascripts/application.js
**/coverage/**
**/cable.js
**/public/packs*/*
