coverage
spec/react_on_rails/dummy-for-generators
spec/dummy/.yalc
spec/dummy/public
spec/dummy/vendor
spec/dummy/tmp
spec/dummy/app/assets/config/manifest.js
spec/dummy/client/app/components/HelloWorldReScript.res.js
node_package/lib/
**/node_modules/**
**/assets/webpack/**
**/public/webpack/**
**/generated/**
**/app/assets/javascripts/application.js
**/coverage/**
**/cable.js
**/public/packs*/*
gen-examples
bundle/
# Can't get it working in CI
knip.ts
