/.bundle/
/.yardoc
/Gemfile.lock
/Gemfile.rails32.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
/vendor/

/spec/examples.txt
/spec/dummy/client/node_modules
/spec/dummy/public/webpack/
/spec/dummy/coverage/
/spec/react_on_rails/dummy-for-generators/

# RVM
.ruby-version
.ruby-gemset

node_modules

/node_package/lib

yarn-debug.*
yarn-error.*
npm-debug.*

/gen-examples

.DS_Store
