<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithShakapacker</title>
    <%= csrf_meta_tags %>

    <!-- Empty pack tags - React on Rails injects component CSS/JS here -->
    <%= stylesheet_pack_tag %>
    <%= javascript_pack_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
