{
  "presets": [
    ["@babel/preset-env", {"useBuiltIns": "entry"}],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", {"isTSX": true}],
    ["@babel/plugin-transform-runtime", {"corejs": 2}]
  ]
}
