{
  "presets": [
    ["@babel/preset-env", {"useBuiltIns": "entry"}],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    ["@babel/plugin-transform-runtime", {"corejs": 2}]
  ]
}
