import { createStore } from 'redux';
import <%= example_page_lower_camelcase %>Reducer from '../reducers/<%= example_page_lower_camelcase %>Reducer';

const configureStore = (railsProps) => (
  createStore(<%= example_page_lower_camelcase %>Reducer, railsProps)
);

export default configureStore;
