<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- TODO PUT THIS BACK!!!!-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- TODO: Move back to inside HEAD section. Address loading document ready (page loaded
           considering the use of turbolinks.
-->
<!--<= javascript_include_tag 'application' >-->

</body>
</html>
