<h1>Async Render Function Returns String</h1>
<p>
  This example demonstrates a component that returns a string from an async function.
</p>

<%= react_component("AsyncRenderFunctionReturnsString", props: { hello: "world" }, prerender: true, trace: true) %>

<hr/>
<h2>Details</h2>
<p>
  Component source: spec/dummy/client/app/ror-auto-load-components/AsyncRenderFunctionReturnsString.server.jsx
</p>
