<h1>Async Render Function Returns Component</h1>
<p>
  This example demonstrates a component that returns a React component from an async function.
</p>

<%= react_component("AsyncRenderFunctionReturnsComponent", props: { hello: "world" }, prerender: true, trace: true) %>

<hr/>
<h2>Details</h2>
<p>
  Component source: spec/dummy/client/app/ror-auto-load-components/AsyncRenderFunctionReturnsComponent.server.jsx
</p>
