<%= react_component("PostsPage",
    props: @app_props_server_render.merge(
      artificialDelay: params[:artificial_delay] || 0, 
      postsCount: params[:posts_count] || 2,
      posts: @posts
    ),
    prerender: true,
    trace: true,
    cache: false,
    id: "PostsPage-react-component-0") %>

<h1>React Rails Server Server Rendered Components</h1>
