
<%= react_component("PureComponent", props: { title: "This is a Pure Component!" }, prerender: true, trace: true, id: "PureComponent-react-component-0") %>

<hr/>

<h1>React Rails Server Rendering of Pure Component</h1>
<pre>
<%%= react_component("PureComponent",
  { title: "This is a Pure Component!" },
  prerender: true,
  trace: true,
  id: "PureComponent-react-component-0") %>
</pre>
