<%= stream_react_component("RedisReceiver", 
    props: { requestId: @request_id, asyncToggleContainer: params[:async_toggle_container] }, 
    prerender: true, 
    trace: true, 
    id: "RedisReceiver-react-component-0") %>
<hr/>

<h1>React Rails Server Streaming Redis Receiver</h1>
