
<h1>Server Logging and Throw Error Handling, raise on server error, redirects</h1>

<p>
  Click on the link to try to navigate to /server_side_log_throw_raise_invoker. That will redirect back to this page
  because of the error handler in application.rb.
</p>

<ol>
  <li>You will see a flash message at the top of the screen.</li>
  <li>Be sure to see the messages in the server logs.</li>
</ol>

Click this link:
<%= link_to "Server Logging and Throw Error Handling, raise on server error, redirects ",
            server_side_log_throw_raise_path %>
