<%# This file is used for testing only, it doesn't contain external http requests like stream_async_components.html.erb %>
<%= stream_react_component(
  "AsyncComponentsTreeForTesting",
  props: @app_props_server_render.merge(params.permit(:throwSyncError, :throwAsyncError)),
  trace: true,
  id: "AsyncComponentsTreeForTesting-react-component-0",
) %>
<hr/>

<h1>React Rails Server Streaming Server Rendered Async React Components Tree For Testing</h1>
