<%= stream_react_component("StreamAsyncComponents", props: @app_props_server_render, prerender: true, trace: true, id: "StreamAsyncComponents-react-component-0") %>
<hr/>

<h1>React Rails Server Streaming Server Rendered Async React Components</h1>
