<%= stream_react_component("UnwrappedStreamRSCRouteDemo",
                           props: {},
                           prerender: true,
                           trace: true,
                           id: "UnwrappedStreamRSCRouteDemo-react-component-0") %>

<h1>Unwrapped stream RSCRoute page</h1>
