<%= react_component("UnwrappedRSCRouteDemo",
                    prerender: false,
                    trace: true,
                    id: "UnwrappedRSCRouteDemo-react-component-0") %>

<h1>Unwrapped RSCRoute client render page</h1>
