{
  "name": "react-webpack-rails-tutorial",
  "version": "0.0.1",
  "private": true,
  "engines": {
    "node": "6.9.0",
    "npm": "4.1.1"
  },
  "scripts": {
    "postinstall": "cd client && yarn install",
    "rails-server": "echo 'visit http://localhost:3000/hello_world' && foreman start -f Procfile.dev",
    "test": "rspec"
  }
}
