web: rails s
client: sh -c 'rm app/assets/javascripts/generated/* || true && cd client && npm run build:dev:client'
<%- if options.server_rendering? %>server: sh -c 'cd client && npm run build:dev:server'<%- end %>
