import ReactOnRails from 'react_on_rails';
<%- component_name = options.server_rendering? ? "HelloWorldAppClient" : "HelloWorldApp" -%>
import <%= component_name %> from './<%= component_name %>';

// This is how react_on_rails can see the HelloWorldApp in the browser.
ReactOnRails.registerComponent('<%= component_name %>', <%= component_name %>);
