<h1 class="page-header">
  Console Logs in Async Server
</h1>
<br/>
This page demonstrates the console logs in async server operations.

<%= react_component("ConsoleLogsInAsyncServer", prerender: true, trace: true, props: { requestId: request.uuid }) %>
