---

extends:
  - eslint-config-shakacode
  - prettier
  - prettier/react

plugins:
  - prettier

rules:
  react/forbid-prop-types: 0
  react/destructuring-assignment: 0

  # https://github.com/yannickcr/eslint-plugin-react/issues/1848
  react/jsx-one-expression-per-line: 0
