<!DOCTYPE html>
<html>
  <head>
    <title>ExecjsCompatibleDummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0B1118">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/icon-512.png" sizes="512x512" type="image/png">
    <link rel="apple-touch-icon" href="/icon-192.png" sizes="192x192">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
