.red {
  color: red
}

.background {
  background-image: url(assets/images/section-title-bg.png);
}

.backgroundSameDirectory {
  color: white;
  background-image: url(./bg-hero.png);
  padding: 20px;
}

.googleLogo {
  width: 800px;
  height: 300px;
  background-image: url(./bg-Google-Logo.svg);
}

.legoIcon {
  width: 800px;
  height: 300px;
  background-image: url(assets/images/bg_lego_icon.svg);
}
