// Test out a custom font
@use "sass:math";

// TODO: Figure out how to get this in a global spot
$font-family-sans-serif: 'OpenSans-Light';  // apply custom font
$fonts-url-path: '../assets/fonts';
@font-face {
  font-family: 'OpenSans-Light';
  src: url('#{$fonts-url-path}/OpenSans-Light.ttf') format('truetype');
}

.heading {
  font-family: $font-family-sans-serif;
  color: green;
}

// Small image is url encode
$check-svg: url("../assets/images/guest-list-accepted.png");
$check-size: 132px;
.check {
  display: inline-block;
  background: $check-svg;
  background-size: $check-size $check-size;
  width: $check-size;
  height: $check-size;
}

// Relative path of larger image should NOT be encoded
$hookipa-beach-svg: url("../assets/images/hookipa-beach.png");
$hookipa-beach-width: 1440px;
$hookipa-beach-height: 373px;

.beachImage {
  display: inline-block;
  background: $hookipa-beach-svg;
  background-size: math.div($hookipa-beach-width, 2) math.div($hookipa-beach-height, 2);
  width: math.div($hookipa-beach-width, 2);
  height: math.div($hookipa-beach-height, 2);
}

// This is an absolute path to the image, defined in app-variables.scss
$images-url-path: '../assets/images';

$rails-on-maui-width: 140px;
$rails-on-maui-height: 40px;
$rails-on-maui-png: url("#{$images-url-path}/logos/railsonmaui.png");

.railsOnMaui {
  display: inline-block;
  background: $rails-on-maui-png;
  background-size: $rails-on-maui-width $rails-on-maui-height;
  width: $rails-on-maui-width;
  height: $rails-on-maui-height;
}
