<%= react_component("ChildrenExample", prerender: true, trace: true) do %>
  <p>This page demonstrates using Rails to produce content for child nodes of React components</p>
  <p>And, just to check that multiple DOM nodes are fine</p>
<% end %>
