
<%= react_component("CssModulesImagesFontsExample", prerender: true, trace: true) %>

<hr/>

<h1>React Rails Server CSS Modules with Images and Fonts</h1>
<h2>Used to test digests of images and fonts</h2>
<hr/>
<pre>
<%%= react_component("CssModulesImagesFontsExample",
  prerender: true,
  trace: true %>
</pre>
