<%= render "header" %>

<h1>React Rails Server Rendering</h1>
<hr/>
<%= react_component("HelloWorld", @app_props_server_render, prerender: false, trace: true, generator_function: true) %>

<!-- react_component("App", @app_props_server_render, trace: true, generator_function: true) %>-->
