<%= render "header" %>

<h1>React Rails Server Rendering</h1>

<hr/>

<h1>React Component</h1>
<code>
  <%%= react_component(\"App\", @app_props) %>
</code>
<p>
  Server Caching (Rails.application.config.perform_caching) is <%= $rails_perform_caching %>
</p>
<p>
  That will generate this:
</p>


<% cache @app_props do %>
  <% puts "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %>
  <% puts "server rendering react component" %>
  <% puts "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %>
  <%= react_component("App", @app_props) %>
<% end %>

<hr/>

<h1>Non-React Component</h1>
For example, Suppose you have some JavaScript that generates a string of HTML:
<br/>
<code>
  this.HelloString.world()
</code>
<p>
  That will generate this:
</p>

<%= render_js("this.HelloString.world()") %>
