
<% react_helmet_app = react_component_hash("ReactHelmetAppBroken",
                                           props: { helloWorldData: { name: "Mr. Server Side Rendering"}},
                                           id: "react-helmet-0",
                                           trace: true) %>


<% content_for :title do %>
  <%= react_helmet_app['title'] %>
<% end %>

<%= react_helmet_app["componentHtml"] %>

<hr/>

This page demonstrates an improperly defined Render-Function.

<H2>Here's the error message when you forget to mark the function as a Render-Function:</H2>

<pre>
  Objects are not valid as a React child (found: object with keys {renderedHtml}). If you meant to render a collection of children, use an array instead.\n    in Unknown
</pre>
