<%= react_component("HelloWorldProps", props: @app_props_server_render, prerender: true, trace: true, id: "HelloWorldProps-react-component-0") %>
<hr/>

<h1>React Rails Server Rendering with different props for server & client</h1>
