<%= react_component("HelloWorldHooks", props: @app_props_server_render, prerender: true, trace: true, id: "HelloWorldHooks-react-component-0") %>
<hr/>

<h1>React Rails Server Rendering with Hooks</h1>
