name: Rspec test for gem

on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  rspec-package-tests:
    env:
      BUNDLE_FROZEN: true
    strategy:
      fail-fast: false
      matrix:
        versions: ['oldest', 'newest']
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.versions == 'oldest' && '3.0' || '3.3' }}
          bundler: 2.5.9
      - name: Print system information
        run: |
          echo "Linux release: "; cat /etc/issue
          echo "Current user: "; whoami
          echo "Current directory: "; pwd
          echo "Ruby version: "; ruby -v
          echo "Node version: "; node -v
          echo "Yarn version: "; yarn --version
          echo "Bundler version: "; bundle --version
      - name: run conversion script to support shakapacker v6
        if: matrix.versions == 'oldest'
        run: script/convert
      - name: Save root ruby gems to cache
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: package-app-gem-cache-${{ hashFiles('Gemfile.lock') }}-${{ matrix.versions }}
      - name: Install Ruby Gems for package
        run: bundle check --path=vendor/bundle || bundle  _2.5.9_ install --path=vendor/bundle --jobs=4 --retry=3
      - name: Git Stuff
        if: matrix.versions == 'oldest'
        run: |
          git config user.email "you@example.com"
          git config user.name "Your Name"
          git commit -am "stop generators from complaining about uncommitted code"
      - name: Set packer version environment variable
        run: |
          echo "CI_PACKER_VERSION=${{ matrix.versions }}" >> $GITHUB_ENV
      - name: Run rspec tests
        run: bundle exec rspec spec/react_on_rails
      - name: Store test results
        uses: actions/upload-artifact@v4
        with:
          name: main-rspec-${{ github.run_id }}-${{ github.job }}-${{ matrix.versions }}
          path: ~/rspec
      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: main-test-log-${{ github.run_id }}-${{ github.job }}-${{ matrix.versions }}
          path: log/test.log
